/.metadata/
com/google/.DS_Store
com/.DS_Store
commons-io/commons-io/.DS_Store
commons-io/.DS_Store
demo/bin/.DS_Store
demo/src/.DS_Store
demo/.DS_Store
jdbc/target/.DS_Store
jdbc/.DS_Store
org/apache/.DS_Store
org/hamcrest/.DS_Store
org/sonatype/.DS_Store
org/.DS_Store
